@model StuPaperShowDTO[]
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="creatIframe('/Admin/Project/Add', '添加项目')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加项目</a></span> <span class="r">共有数据：<strong>@Model.Count()</strong> 条</span> </div>
    <div class="mt-20">
        <table>
            <tr><td style=" color:#ff0000; font-size:18px; line-height:24px; text-align:center;" colspan="4">总分：@ViewBag.zf  </td></tr>
            @for (int i = 0; i < Model.Length; i++)
    {
        StuPaperShowDTO item = Model[i];
        <tr>
            <td>

                <div class="aboutus">
                    <ul>



                        <li><span>题目</span>@(i + 1)：@item.Subject</li>
                        <li>@item.ItemA</li>
                        <li>@item.ItemB</li>
                        <li>@item.ItemC</li>
                        <li>@item.ItemD</li>


                    </ul>
                </div>
            </td>
            <td width="100">
                学生答案：@item.StuAnswer
            </td>

            <td width="100">正确答案：@item.TrueAnswer</td>
            <td width="100">所得分数：@item.Score </td>
        </tr>
}

        </table>
        
</div>
</div>